.button{
    &_circle{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        background-color: #E1F6FF;
        border-radius: 100%;
        border: none;
    }
}

.menu{
    border-bottom: solid 1px #B3DDF0;
    &_header{
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 17px 0 17px 0;
        
    }

    &_title{
        font-size: 18px;
        font-weight: 500;
    }

    &_info{
        margin-left: 50px;
        font-size: 17px;
        color: #444444;
    }
}